<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New York Times Search</title>
    <!-- Bootstrap CSS CDN  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Font Awesome CSS Icons (For cool glyphicons) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!-- Code to the JavaScript File -->
    <script src="../public/index.js"></script>

    <!-- Style to fix the issue of text extending past card length -->
</head>
<style>
    .jumbotron {
        margin-top: 0px;
        background-image: linear-gradient(0deg,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.7)),
            url("../assets/background.jpg");
        background-size: cover;
        min-height: 70vh;
        position: relative;
    }

    body {
        background-image: url("../assets/site.png")
    }


    .title {
        font-weight: bold;
        color: floralwhite
    }

    .menuContainer {
        background-color: dodgerblue;
    }

    .home,
    .saved {
        color: floralwhite
    }

    .lead,
    .mainTitle {
        text-align: center;
        font-weight: bold;
        color: steelblue;
        font: italic
    }
</style>

<body>
    {{{body}}}
</body>