<main class="mdl-layout__content">
    <section class="mdl-grid article_posts">
        {{#each articles}}
        <div class="col-2"></div>
        <div class="col-10" id="display">
            <div class="card" style="width: 75rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="http://nytimes.com{{this.link}}" target="_blank">{{this.title}}</a>
                    </h5>
                    <p class="card-text">{{this.snip}}.</p>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</main>